.DS_Store
**/.DS_Store
/node_modules
.idea
*.iml
log/*.log
log/*
pids/*
socks/*
REVISION
*.log
*.swp
*.swo
*~
builtAssets
npm-debug.log
tmp/cache/less/stylesheets/*.css
tmp/cache/less/stylesheets/**/*.css
tmp/cache/less/stylesheets/**/**/*.css
tmp/cache/assets/*
tmp/sass-cache/*
.bundle/
public/javascripts/app.js
public/javascripts/main.js
public/javascripts/models/*
public/javascripts/views/*
public/javascripts/collections/*
